

 @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color:antiquewhite ;
}

.container{
position:relative;
width: 340px;
height: 600px;
background-color:rgb(253, 242, 228);
box-shadow: 0px 5px 5px rgba(0,0,0,0.15)
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../public/pattern.png');
    height: 100%;
    width: 100%;
    opacity: 0.05;
   
}

header{
    position: relative;
    background-color: rgb(18 140 126);
    padding: 15px 5px  10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.left-content{
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
    cursor: pointer;
}  
.right-content{
    color: white;
    gap: 15px;
    display: flex;
    cursor: pointer;

}

.img img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    right: 4px;
    top: 4px;
    
}
.name{
    font-weight: bolder;
    font-size: 1em;
}
.time{
    font-size: 0.7em;
    
}

.msgbox{
    position: relative;
    padding: 20px;
    height: 490px;
    scroll-behavior: smooth;
    overflow:scroll;
    overflow-x: hidden;
    
}
.msg{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    min-height: 40px;
}
.msg-text {
    /* max-width: 11rem; */
    height: 100%;
    word-break: break-word;
    width: 10rem;
    text-align: left;
   
}


.msgleft::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    border: 10px solid transparent;
    border-top: 10px solid white;
    
  }
  .msgright::before {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    border: 10px solid transparent;
    border-top: 10px solid rgb(18 140 126);

  }
  
  .msgleft {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 30%;
    margin-bottom: 20px;
  }
  
  .msgright {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 30%;
    text-align: right;
    margin-bottom: 20px;
    background-color: rgb(18 140 126);

  }
   .inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    /* background-color: rgb(231, 173, 173); */
    /* height: 50px; */
  
   } 
   .inputmsg{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    left: 4px;
    background-color: white;
    padding:5px 10px;
    border-radius: 10rem;
    width: 38vh;
    /* width: 270px; */

   }
   .inputmsg input{
    border: none;
    outline: none;
    padding: 5px 0px;
    width: 150px;
    position: relative;
    padding-left: 10px;
    


    /* width: 10vw; */
   }

   .input-icons{
    display: flex;
    gap: 8px;
    position: relative;
   margin-left: 4px;
    
   
    
   }

   
.send{
    position: relative;
   height: 35px;
   width: 35px;
    background-color:  rgb(18 140 126);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
  
    
    
.container{
    position:relative;
    width: 300px;
    height: 500px;
    background-color:rgb(253, 242, 228);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15)
    }


    
    .msgbox{
        position: relative;
        padding: 20px;
        height: 390px;
        scroll-behavior: smooth;
        overflow:scroll;
        overflow-x: hidden;
        
    }
    .msg{
        background-color: white;
        padding: 7px;
        border-radius: 10px;
        border-top-left-radius: 0;
        position: relative;
        text-align: left;
        display: flex;
        justify-content: flex-start;
    }
    .msg-text {
        /* max-width: 11rem; */
        height: 100%;
        word-break: break-word;
        width: 10rem;
        text-align: left;
       
    }
      
      .msgleft {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 30%;
        margin-bottom: 20px;
      }
      
      .msgright {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 30%;
        text-align: right;
        margin-bottom: 20px;
        background-color: rgb(18 140 126);
    
      }
       .inputbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        /* background-color: rgb(231, 173, 173); */
        /* height: 50px; */
      
       } 
       .inputmsg{
        /* display: flex; */
        /* justify-content: space-between; */
        align-items: center;
        position: relative;
        left: 4px;
        background-color: white;
        padding:5px 10px;
        border-radius: 10rem;
        width: 245px;
        /* width: 270px; */
    
       }
       .inputmsg input{
        border: none;
        outline: none;
        padding: 5px 0px;
        width: 120px;
        position: relative;
        padding-left: 10px;
       }
    
       .input-icons{
        display: flex;
        gap: 3px;
        position: relative;
       margin-left: 4px;
       }
    
       
    .send{
        position: relative;
       height: 35px;
       width: 35px;
        background-color:  rgb(18 140 126);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 12px;
        cursor: pointer;
    }
}    

@media (min-width:767px) and (max-width:992px) {

    .inputmsg{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        position: relative;
        left: 4px;
        background-color: white;
        padding:5px 10px;
        border-radius: 10rem;
        width: 285px;
        /* width: 270px; */
    
       }
 
       .inputmsg input{
        border: none;
        outline: none;
        padding: 5px 0px;
        width: 150px;
        position: relative;
        padding-left: 10px;
       }
}